# R history and data files
.Rhistory
.RData
.Rproj.user/

# RStudio files
.Rproj.user/
.Rproj/
.Ruserdata

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS metadata files
.Spotlight-V100
.Trashes

